$white: #FFF;
$dark-blue: #172350;
$light-blue: #253573;
$coral: #F3624B;
$dark-coral: #D8533E;
$hover-coral: #FF806B;
$baby-blue: #4FC1E9;
$turquoise: #1DD3B0;
$green: #88CE30;
$form-green: #3B7E25;
$green-gradient: linear-gradient(180deg, #88CE30 0%, #F6F8FA 100%), #88CE30;
$gray: #EEF2F6;
$dark-gray: #69708A;
$stroke-gray: #D2D4DC;
$hover-gray: #E8EAED;
$athens-gray: #EEF2F6;
$light-gray: #F6F8FA;
