/* You don't need to change anything below */
@each $grid-breakpoint, $grid-gutter-width in $grid-gutter-widths {
  @include media-breakpoint-up($grid-breakpoint) {
    $grid-gutter-half-width: $grid-gutter-width / 2;
    $grid-gutter-twixe-width: $grid-gutter-width * 2;

    .container {
      @if $grid-breakpoint == xs {
        padding-right: $grid-gutter-twixe-width;
        padding-left: $grid-gutter-twixe-width;
      } @else {
        padding-right: $grid-gutter-half-width;
        padding-left: $grid-gutter-half-width;
      }
    }

    .row {
      margin-right: -$grid-gutter-half-width;
      margin-left: -$grid-gutter-half-width;
    }

    .col,
    [class^="col-"] {
      padding-right: $grid-gutter-half-width;
      padding-left: $grid-gutter-half-width;
    }
  }
}
